In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv(r"C:\Users\HP\Desktop\CINEMATIC COMPASS\datasets\credits.csv")
df2 = pd.read_csv(r"C:\Users\HP\Desktop\CINEMATIC COMPASS\datasets\movies_metadata.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_16668\802281768.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(r"C:\Users\HP\Desktop\CINEMATIC COMPASS\datasets\movies_metadata.csv")

In [3]:
df1.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
df2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
df2=df2[df2.id!='1997-08-20']
df2=df2[df2.id!='2012-09-29']
df2=df2[df2.id!='2014-01-01']

In [6]:
df2.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [7]:
df2['id']=df2['id'].astype(int)

In [8]:
df2=df2.merge(df1,on='id')

In [9]:
df2.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
Tfidf = TfidfVectorizer(stop_words='english')
df2['overview'] = df2['overview'].fillna('')

In [11]:
from sklearn.metrics.pairwise import linear_kernel

In [12]:
import random
ran = random.randint(25000, 30000)
df3 = df2.head(ran)
Tfidf_matrix = Tfidf.fit_transform(df3['overview'])

In [13]:
Tfidf_matrix.shape

(25991, 54200)

In [14]:
cosine_sim = linear_kernel(Tfidf_matrix, Tfidf_matrix, True)

In [15]:
indices = pd.Series(df3.index, index=df3['title']).drop_duplicates()

In [16]:
def get_recommendations(title, cosine_sim=cosine_sim):
  idx = indices[title]
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:11]
  movie_indices = [i[0] for i in sim_scores]
  return df3['title'].iloc[movie_indices]

In [17]:
get_recommendations('Avenger')

216                                               The Cure
7875                        Now You See Him, Now You Don't
877                                 The Philadelphia Story
4385                                                D.O.A.
25172                                     Hit by Lightning
17075    Silent Night, Deadly Night III: Better Watch Out!
15420                           Ricky Gervais Live 3: Fame
14040                        Silent Night, Deadly Night II
7904                                          The Escapist
584                                       Tough and Deadly
Name: title, dtype: object

In [18]:
get_recommendations('Iron Man')

7587         The Wonderful Ice Cream Suit
15218                          Iron Man 2
15264    The Disappearance of Alice Creed
20907                          Iron Man 3
8370                             Scarface
2793                        The Dark Half
17977                      A Wedding Suit
20871             The Invincible Iron Man
6087                   Cradle 2 the Grave
18462                    Gorilla at Large
Name: title, dtype: object

In [19]:
print("Practical number 12 by Piyush Upadhyay")

Practical number 12 by Piyush Upadhyay